In [32]:
import pandas as pd

In [102]:
df = pd.read_csv('../data/BD_Sueldos_CSV.csv')

# Delete unnecessary columns (Folio, Periodo, Edad, <anonymous>)
df.drop(['Folio', 'Periodo', 'Edad', 'Sueldo_Nominal', 'Unnamed: 20', 'Unnamed: 21'],
        axis=1,
        inplace=True)

# Remove rows with all missing values
df.dropna(how='all',
          inplace=True)

df.head(5)

,Genero,Region,Campus,Escuela,Programa_Ini,PrepaTEC,PAA,PNA,P_Beca,P_Prestamo,Life,PI,Experiencia,TOEFL,Promedio_Gr,Sueldo_Real
0,Masculino,RCS,QRO,EIC,IA,NO,NaN,NaN,0.00,0.00,No,SI,Sí,550.0,75333.00,13000.0
1,Femenino,RO,GDL,EIC,IIS,SI,1466.0,94.0,0.15,0.25,No,SI,No,620.0,87385.00,8500.0
2,Masculino,RO,GDL,EN,LAF,SI,NaN,80.0,0.00,0.15,No,SI,Sí,577.0,84724.00,46000.0
3,Masculino,RO,HER,EIC,IMT,SI,1445.0,96.0,0.40,0.20,Si,SI,Sí,677.0,92475.00,46000.0
4,Masculino,RO,HER,EIC,IIS,SI,NaN,85.0,0.40,0.00,Si,SI,Sí,583.0,86.95,15000.0

In [103]:
# Replace missing values in 'Sueldo_Real', 'Promedio_Gr', 'P_Prestamo', 'PNA', 'PAA', 'TOEFL' with the most frequent value
df['Sueldo_Real'].fillna(df['Sueldo_Real'].mode()[0], inplace=True)
df['Promedio_Gr'].fillna(df['Promedio_Gr'].mode()[0], inplace=True)
df['P_Prestamo'].fillna(df['P_Prestamo'].mode()[0], inplace=True)
df['PNA'].fillna(df['PNA'].mode()[0], inplace=True)
df['PAA'].fillna(df['PAA'].mode()[0], inplace=True)
df['TOEFL'].fillna(df['TOEFL'].mode()[0], inplace=True)

In [104]:
number_of_rows = df.shape[0]

# Display the percentage of empty values of each column
percentage_null_values_for_column = (df.isnull().sum() / number_of_rows) * 100
# Sort the values by the percentage of null values
percentage_null_values_for_column = percentage_null_values_for_column.sort_values(ascending=False)
print(percentage_null_values_for_column)

Genero          0.0
Region          0.0
Campus          0.0
Escuela         0.0
Programa_Ini    0.0
PrepaTEC        0.0
PAA             0.0
PNA             0.0
P_Beca          0.0
P_Prestamo      0.0
Life            0.0
PI              0.0
Experiencia     0.0
TOEFL           0.0
Promedio_Gr     0.0
Sueldo_Real     0.0
dtype: float64

In [105]:
#change objects to category and classify by dtypes
categorical_columns = []
numerical_columns = []

for column in df.columns:
    if df[column].dtype == 'object' or df[column].dtype == 'category':
        df = df.astype({
                               f'{column}': 'category'})
        categorical_columns.append(column)
    else:
        numerical_columns.append(column)

print('{0} categorical columns: \n {1} \n'.format(len(categorical_columns),
                                                  categorical_columns))
print('{0} numerical columns: \n {1} \n'.format(len(numerical_columns),
                                                numerical_columns))

9 categorical columns:
 ['Genero', 'Region', 'Campus', 'Escuela', 'Programa_Ini', 'PrepaTEC', 'Life', 'PI', 'Experiencia']

7 numerical columns:
 ['PAA', 'PNA', 'P_Beca', 'P_Prestamo', 'TOEFL', 'Promedio_Gr', 'Sueldo_Real']

In [106]:
# Export the dataframe to a csv file
df.to_csv('../data/cleaned/BD_Sueldos_CSV_Cleaned.csv', index=False)

In [99]:
def replace_categorical(df,
                        col_name,
                        category_lst):
    cardinality = len(category_lst)

    count = 0
    for category in category_lst:
        df[col_name].replace([category],
                             [count / cardinality],
                             inplace=True)
        count += 1

if True:
    for column in categorical_columns:
        replace_categorical(df,
                            column,
                            df[column].unique())
df.head(15)

,Genero,Region,Campus,Escuela,Programa_Ini,PrepaTEC,PAA,PNA,P_Beca,P_Prestamo,Life,PI,Experiencia,TOEFL,Promedio_Gr,Sueldo_Real
0,0.25,0.6,0.16,0.333333,0.134615,0.0,1487.0,90.0,0.00,0.00,0.0,0.5,0.333333,550.0,75333.00,13000.0
1,0.25,0.2,0.04,0.333333,0.019231,0.5,1466.0,94.0,0.15,0.25,0.0,0.5,0.333333,620.0,87385.00,8500.0
2,0.25,0.2,0.04,0.166667,0.038462,0.5,1487.0,80.0,0.00,0.15,0.0,0.5,0.333333,577.0,84724.00,46000.0
3,0.25,0.2,0.08,0.333333,0.057692,0.5,1445.0,96.0,0.40,0.20,0.5,0.5,0.333333,677.0,92475.00,46000.0
4,0.25,0.2,0.08,0.333333,0.019231,0.5,1487.0,85.0,0.40,0.00,0.5,0.5,0.333333,583.0,86.95,15000.0
5,0.25,0.2,0.04,0.333333,0.076923,0.5,1583.0,95.0,0.80,0.00,0.0,0.5,0.333333,650.0,93701.00,37000.0
6,0.25,0.2,0.04,0.166667,0.038462,0.5,1487.0,92.0,0.50,0.00,0.0,0.5,0.333333,570.0,88949.00,15000.0
7,0.25,0.4,0.12,0.166667,0.096154,0.5,1487.0,90.0,0.00,0.00,0.0,0.5,0.333333,623.0,88508.00,12000.0
8,0.25,0.6,0.16,0.333333,0.019231,0.5,1487.0,92.0,0.20,0.00,0.0,0.5,0.333333,550.0,90.75,21000.0
9,0.25,0.2,0.08,0.333333,0.115385,0.5,1487.0,90.0,0.00,0.00,0.0,0.5,0.333333,550.0,78847.00,26000.0
10,0.25,0.2,0.04,0.333333,0.057692,0.5,1486.0,98.0,0.50,0.00,0.5,0.5,0.333333,600.0,96.54,1100000.0
11,0.25,0.2,0.08,0.333333,0.019231,0.5,1288.0,90.0,0.40,0.40,0.5,0.5,0.333333,550.0,92483.00,14600.0
12,0.25,0.2,0.04,0.333333,0.019231,0.5,1456.0,93.0,0.20,0.10,0.5,0.5,0.333333,550.0,85433.00,6500.0
13,0.25,0.2,0.04,0.333333,0.019231,0.5,1572.0,95.0,0.80,0.00,0.5,0.5,0.333333,577.0,92466.00,18000.0
14,0.25,0.6,0.16,0.333333,0.134615,0.5,1487.0,86.0,0.00,0.00,0.0,0.5,0.333333,550.0,80471.00,8000.0

In [98]:
# Convert each categorical column to a numerical column
for column in categorical_columns:
    df[column] = df[column].cat.codes

AttributeError: Can only use .cat accessor with a 'category' dtype

In [101]:
target = df['Sueldo_Real']
df_without_sueldo = df.drop(['Sueldo_Real'],
                            axis=1)
# get correlation with "Sueldo_Real" column
df_without_sueldo.corrwith(target, method='pearson').sort_values(ascending=False)

TOEFL           0.079975
P_Beca          0.045230
PAA             0.041948
PNA             0.031278
Region          0.027081
PrepaTEC        0.012400
Escuela         0.012350
Promedio_Gr     0.008420
Experiencia    -0.003911
P_Prestamo     -0.005546
Life           -0.012364
Genero         -0.018402
Campus         -0.019877
Programa_Ini   -0.027416
PI                   NaN
dtype: float64