In [1]:
import pandas as pd;

In [2]:
df = pd.read_csv('../data/DB_1er_AÃ±o_CSV.csv')

# Delete unnecessary columns ('Folio', 'Periodo', 'Nivel', 'PrepaTEC', 'Edad')
df.drop(['Folio', 'Periodo', 'Nivel', 'PrepaTEC', 'Edad'],
        axis=1,
        inplace=True)

df.head(5)

,Escuela,Genero,Foraneo,FGS,Rubrica_CyE,PromMate,Ingles,FTE,P_Beca,P_Prestamo,HijoMilitar,Prog_Lider,Retencion1erA,Prom1erSem,Prom2doSem,Prom1erA
0,EHE-EAAD,Masculino,SI: Nacional,No,NaN,88.0,7,1.0,0.0,0.0,NO,NO,0,70.000000,0.000,70.000000
1,EMCS,Masculino,SI: Nacional,No,40.0,76.0,7,1.0,0.0,0.0,NO,NO,1,87.700000,88.000,88.527778
2,EAAD-EIC,Masculino,SI: Nacional,No,NaN,57.5,7,1.0,0.0,0.0,NO,NO,1,75.333333,83.875,81.918919
3,EIC,Masculino,Local,No,NaN,73.0,7,1.0,0.0,0.0,NO,NO,1,69.571429,81.000,68.388889
4,EHE-EAAD,Femenino,SI: Nacional,No,NaN,70.0,7,1.0,0.0,0.0,NO,NO,1,88.333333,93.000,90.666667

In [15]:
number_of_rows = df.shape[0]

# Display the percentage of empty values of each column
percentage_null_values_for_column = (df.isnull().sum() / number_of_rows) * 100
# Sort the values by the percentage of null values
percentage_null_values_for_column = percentage_null_values_for_column.sort_values(ascending=False)
print(percentage_null_values_for_column)

PromMate         52.766620
Rubrica_CyE      44.847938
Prom1erA          0.991885
Escuela           0.000000
Genero            0.000000
Foraneo           0.000000
FGS               0.000000
Ingles            0.000000
FTE               0.000000
P_Beca            0.000000
P_Prestamo        0.000000
HijoMilitar       0.000000
Prog_Lider        0.000000
Retencion1erA     0.000000
Prom1erSem        0.000000
Prom2doSem        0.000000
dtype: float64

In [18]:
# Replace the null values with the mean of the column 'PromMate'
df['PromMate'].fillna(df['PromMate'].mean(), inplace=True)

# Fill 'Rubrica_CyE' and 'prom1erA' with 0
df['Rubrica_CyE'].fillna(0, inplace=True)
df['Prom1erA'].fillna(0, inplace=True)

In [20]:
# Replace all the non Engineering and Science related columns with 'Otros'
df["Escuela"].replace(['EHE-EAAD', 'EMCS', 'ECSG', 'EN', 'ENE'],
                      'Otros',
                      inplace=True)

# Replace all the Engineering and Science related columns with 'Ingenierias y Ciencias'
df["Escuela"].replace(['EIC', 'EAAD-EIC'],
                      'Ingenierias y Ciencias',
                      inplace=True)

In [21]:
# Delete all the rows that have 'Masculino' in the 'Genero' column
df = df[df['Genero'] != 'Masculino']
df.head(10)

,Escuela,Genero,Foraneo,FGS,Rubrica_CyE,PromMate,Ingles,FTE,P_Beca,P_Prestamo,HijoMilitar,Prog_Lider,Retencion1erA,Prom1erSem,Prom2doSem,Prom1erA
4,Otros,Femenino,SI: Nacional,No,0.0,70.0,7,1.0,0.00,0.00,NO,NO,1,88.333333,93.000000,90.666667
6,Ingenierias y Ciencias,Femenino,SI: Nacional,No,0.0,87.0,1,1.0,0.00,0.00,NO,NO,1,81.750000,89.111111,85.472222
9,Otros,Femenino,SI: Nacional,No,0.0,87.5,1,1.0,0.00,0.00,NO,NO,1,93.857143,93.750000,93.555556
10,Otros,Femenino,Local,No,0.0,87.0,1,1.0,0.00,0.00,NO,NO,1,86.600000,85.100000,86.944444
15,Otros,Femenino,Local,No,0.0,85.5,1,1.0,0.20,0.20,NO,NO,1,90.000000,88.600000,89.666667
18,Otros,Femenino,SI: Nacional,No,0.0,96.0,1,1.0,0.00,0.00,NO,NO,0,90.300000,0.000000,89.944444
20,Otros,Femenino,Local,No,0.0,77.5,1,1.0,0.25,0.25,NO,NO,0,84.000000,0.000000,86.571429
21,Otros,Femenino,Local,No,0.0,75.0,1,1.0,0.00,0.00,NO,NO,0,73.666667,0.000000,79.000000
24,Otros,Femenino,Local,No,0.0,74.5,1,1.0,0.40,0.20,NO,NO,1,83.000000,85.100000,84.972222
25,Otros,Femenino,Local,No,0.0,76.5,1,1.0,0.00,0.25,NO,NO,1,86.000000,87.600000,87.111111

In [22]:
# Check for each if it column can be converted to numeric, if so, convert it
for column in df.columns:
    if df[column].dtype == 'string':
        try:
            df[column] = pd.to_numeric(df[column])
        except ValueError:
            pass

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5568 entries, 4 to 12197
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Escuela        5568 non-null   object
 1   Genero         5568 non-null   object
 2   Foraneo        5568 non-null   object
 3   FGS            5568 non-null   object
 4   Rubrica_CyE    5568 non-null   float64
 5   PromMate       5568 non-null   float64
 6   Ingles         5568 non-null   int64
 7   FTE            5568 non-null   float64
 8   P_Beca         5568 non-null   float64
 9   P_Prestamo     5568 non-null   float64
 10  HijoMilitar    5568 non-null   object
 11  Prog_Lider     5568 non-null   object
 12  Retencion1erA  5568 non-null   int64
 13  Prom1erSem     5568 non-null   float64
 14  Prom2doSem     5568 non-null   float64
 15  Prom1erA       5568 non-null   float64
dtypes: float64(8), int64(2), object(6)
memory usage: 739.5+ KB

In [28]:
# Export the dataframe to a csv file
df.to_csv('../data/cleaned/DB_1er_AÃ±o_CSV_Cleaned.csv', index=False)