In [77]:
import pandas as pd;

In [78]:
# mapCategorical: is exported file will contain the mapping of the categorical variables?
mapCategorical = False
df = pd.read_csv('../data/DB_1er_Año_CSV.csv')

# Delete unnecessary columns ('Folio', 'Periodo', 'Nivel', 'PrepaTEC', 'Edad')
df.drop(['Folio', 'Periodo', 'Nivel', 'PrepaTEC', 'Edad'],
        axis=1,
        inplace=True)

df.head(5)

,Escuela,Genero,Foraneo,FGS,Rubrica_CyE,PromMate,Ingles,FTE,P_Beca,P_Prestamo,HijoMilitar,Prog_Lider,Retencion1erA,Prom1erSem,Prom2doSem,Prom1erA
0,EHE-EAAD,Masculino,SI: Nacional,No,NaN,88.0,7,1.0,0.0,0.0,NO,NO,0,70.000000,0.000,70.000000
1,EMCS,Masculino,SI: Nacional,No,40.0,76.0,7,1.0,0.0,0.0,NO,NO,1,87.700000,88.000,88.527778
2,EAAD-EIC,Masculino,SI: Nacional,No,NaN,57.5,7,1.0,0.0,0.0,NO,NO,1,75.333333,83.875,81.918919
3,EIC,Masculino,Local,No,NaN,73.0,7,1.0,0.0,0.0,NO,NO,1,69.571429,81.000,68.388889
4,EHE-EAAD,Femenino,SI: Nacional,No,NaN,70.0,7,1.0,0.0,0.0,NO,NO,1,88.333333,93.000,90.666667

In [79]:
number_of_rows = df.shape[0]

# Display the percentage of empty values of each column
percentage_null_values_for_column = (df.isnull().sum() / number_of_rows) * 100
# Sort the values by the percentage of null values
percentage_null_values_for_column = percentage_null_values_for_column.sort_values(ascending=False)
print(percentage_null_values_for_column)

PromMate         52.766620
Rubrica_CyE      44.847938
Prom1erA          0.991885
Escuela           0.000000
Genero            0.000000
Foraneo           0.000000
FGS               0.000000
Ingles            0.000000
FTE               0.000000
P_Beca            0.000000
P_Prestamo        0.000000
HijoMilitar       0.000000
Prog_Lider        0.000000
Retencion1erA     0.000000
Prom1erSem        0.000000
Prom2doSem        0.000000
dtype: float64

In [80]:
# Replace the null values with the mean of the column 'PromMate'
df['PromMate'].fillna(df['PromMate'].mean(),
                      inplace=True)

# Fill 'Rubrica_CyE' and 'prom1erA' with 0
df['Rubrica_CyE'].fillna(0,
                         inplace=True)
df['Prom1erA'].fillna(0,
                      inplace=True)

In [81]:
# Replace all the non Engineering and Science related columns with 'Otros'
df["Escuela"].replace(['EHE-EAAD', 'EMCS', 'ECSG', 'EN', 'ENE'],
                      'Otros',
                      inplace=True)

# Replace all the Engineering and Science related columns with 'Ingenierias y Ciencias'
df["Escuela"].replace(['EIC', 'EAAD-EIC'],
                      'Ingenierias y Ciencias',
                      inplace=True)

In [82]:
# Delete all the rows that have 'Masculino' in the 'Genero' column
# df = df[df['Genero'] != 'Masculino']
df.head(10)

,Escuela,Genero,Foraneo,FGS,Rubrica_CyE,PromMate,Ingles,FTE,P_Beca,P_Prestamo,HijoMilitar,Prog_Lider,Retencion1erA,Prom1erSem,Prom2doSem,Prom1erA
0,Otros,Masculino,SI: Nacional,No,0.0,88.0,7,1.0,0.0,0.0,NO,NO,0,70.000000,0.000000,70.000000
1,Otros,Masculino,SI: Nacional,No,40.0,76.0,7,1.0,0.0,0.0,NO,NO,1,87.700000,88.000000,88.527778
2,Ingenierias y Ciencias,Masculino,SI: Nacional,No,0.0,57.5,7,1.0,0.0,0.0,NO,NO,1,75.333333,83.875000,81.918919
3,Ingenierias y Ciencias,Masculino,Local,No,0.0,73.0,7,1.0,0.0,0.0,NO,NO,1,69.571429,81.000000,68.388889
4,Otros,Femenino,SI: Nacional,No,0.0,70.0,7,1.0,0.0,0.0,NO,NO,1,88.333333,93.000000,90.666667
5,Ingenierias y Ciencias,Masculino,Local,No,0.0,79.0,1,1.0,0.4,0.2,NO,NO,1,77.500000,82.888889,80.805556
6,Ingenierias y Ciencias,Femenino,SI: Nacional,No,0.0,87.0,1,1.0,0.0,0.0,NO,NO,1,81.750000,89.111111,85.472222
7,Ingenierias y Ciencias,Masculino,Local,No,0.0,91.0,1,1.0,0.2,0.2,NO,NO,1,87.285714,93.222222,90.777778
8,Otros,Masculino,Local,Sí,0.0,75.0,1,1.0,0.0,0.0,NO,NO,1,87.500000,87.800000,87.805556
9,Otros,Femenino,SI: Nacional,No,0.0,87.5,1,1.0,0.0,0.0,NO,NO,1,93.857143,93.750000,93.555556

In [83]:
#change objects to category and classify by dtypes
categorical_columns = []
numerical_columns = []

for column in df.columns:
    if df[column].dtype == 'object':
        df = df.astype({f'{column}': 'category'})
        categorical_columns.append(column)
    else:
        numerical_columns.append(column)

print('{0} categorical columns: \n {1} \n'.format(len(categorical_columns),
                                                  categorical_columns))
print('{0} numerical columns: \n {1} \n'.format(len(numerical_columns),
                                                numerical_columns))

6 categorical columns:
 ['Escuela', 'Genero', 'Foraneo', 'FGS', 'HijoMilitar', 'Prog_Lider']

10 numerical columns:
 ['Rubrica_CyE', 'PromMate', 'Ingles', 'FTE', 'P_Beca', 'P_Prestamo', 'Retencion1erA', 'Prom1erSem', 'Prom2doSem', 'Prom1erA']

In [84]:
def replace_categorical(df,
                        col_name,
                        category_lst):
    cardinality = len(category_lst)

    count = 0
    for category in category_lst:
        df[col_name].replace([category],
                             [count / cardinality],
                             inplace=True)
        count += 1
if mapCategorical:
    for column in categorical_columns:
        replace_categorical(df,
                            column,
                            df[column].unique())

df.head(15)

,Escuela,Genero,Foraneo,FGS,Rubrica_CyE,PromMate,Ingles,FTE,P_Beca,P_Prestamo,HijoMilitar,Prog_Lider,Retencion1erA,Prom1erSem,Prom2doSem,Prom1erA
0,Otros,Masculino,SI: Nacional,No,0.0,88.0,7,1.0,0.00,0.00,NO,NO,0,70.000000,0.000000,70.000000
1,Otros,Masculino,SI: Nacional,No,40.0,76.0,7,1.0,0.00,0.00,NO,NO,1,87.700000,88.000000,88.527778
2,Ingenierias y Ciencias,Masculino,SI: Nacional,No,0.0,57.5,7,1.0,0.00,0.00,NO,NO,1,75.333333,83.875000,81.918919
3,Ingenierias y Ciencias,Masculino,Local,No,0.0,73.0,7,1.0,0.00,0.00,NO,NO,1,69.571429,81.000000,68.388889
4,Otros,Femenino,SI: Nacional,No,0.0,70.0,7,1.0,0.00,0.00,NO,NO,1,88.333333,93.000000,90.666667
5,Ingenierias y Ciencias,Masculino,Local,No,0.0,79.0,1,1.0,0.40,0.20,NO,NO,1,77.500000,82.888889,80.805556
6,Ingenierias y Ciencias,Femenino,SI: Nacional,No,0.0,87.0,1,1.0,0.00,0.00,NO,NO,1,81.750000,89.111111,85.472222
7,Ingenierias y Ciencias,Masculino,Local,No,0.0,91.0,1,1.0,0.20,0.20,NO,NO,1,87.285714,93.222222,90.777778
8,Otros,Masculino,Local,Sí,0.0,75.0,1,1.0,0.00,0.00,NO,NO,1,87.500000,87.800000,87.805556
9,Otros,Femenino,SI: Nacional,No,0.0,87.5,1,1.0,0.00,0.00,NO,NO,1,93.857143,93.750000,93.555556
10,Otros,Femenino,Local,No,0.0,87.0,1,1.0,0.00,0.00,NO,NO,1,86.600000,85.100000,86.944444
11,Ingenierias y Ciencias,Masculino,SI: Nacional,No,0.0,78.0,1,1.0,0.00,0.00,NO,NO,1,89.750000,90.125000,89.382353
12,Otros,Masculino,Local,No,0.0,82.0,1,1.0,0.15,0.15,NO,NO,1,84.555556,85.000000,84.638889
13,Ingenierias y Ciencias,Masculino,Local,No,0.0,74.0,1,1.0,0.00,0.25,NO,NO,1,77.500000,82.888889,81.805556
14,Ingenierias y Ciencias,Masculino,Local,No,0.0,93.5,1,1.0,0.45,0.25,NO,NO,1,93.000000,95.444444,93.111111

In [85]:
df.head(5), df.tail(5)

(                  Escuela     Genero       Foraneo FGS  Rubrica_CyE  PromMate  \
 0                   Otros  Masculino  SI: Nacional  No          0.0      88.0
 1                   Otros  Masculino  SI: Nacional  No         40.0      76.0
 2  Ingenierias y Ciencias  Masculino  SI: Nacional  No          0.0      57.5
 3  Ingenierias y Ciencias  Masculino         Local  No          0.0      73.0
 4                   Otros   Femenino  SI: Nacional  No          0.0      70.0

    Ingles  FTE  P_Beca  P_Prestamo HijoMilitar Prog_Lider  Retencion1erA  \
 0       7  1.0     0.0         0.0          NO         NO              0
 1       7  1.0     0.0         0.0          NO         NO              1
 2       7  1.0     0.0         0.0          NO         NO              1
 3       7  1.0     0.0         0.0          NO         NO              1
 4       7  1.0     0.0         0.0          NO         NO              1

    Prom1erSem  Prom2doSem   Prom1erA
 0   70.000000       0.000  70.000000
 1   87.700000      88.000  88.527778
 2   75.333333      83.875  81.918919
 3   69.571429      81.000  68.388889
 4   88.333333      93.000  90.666667  ,
                       Escuela     Genero       Foraneo FGS  Rubrica_CyE  \
 12194                   Otros  Masculino  SI: Nacional  No         40.0
 12195  Ingenierias y Ciencias  Masculino         Local  No         48.0
 12196                   Otros  Masculino  SI: Nacional  Sí         40.0
 12197                   Otros   Femenino         Local  No         36.0
 12198                   Otros  Masculino  SI: Nacional  No         32.0

         PromMate  Ingles  FTE  P_Beca  P_Prestamo HijoMilitar Prog_Lider  \
 12194  82.745216       5  1.0     0.4        0.25          NO         NO
 12195  82.745216       6  1.0     0.9        0.00          NO         NO
 12196  82.745216       4  1.0     0.0        0.00          NO         NO
 12197  82.745216       2  1.0     0.4        0.00          NO         NO
 12198  82.745216       5  1.0     0.5        0.00          NO         NO

        Retencion1erA  Prom1erSem  Prom2doSem   Prom1erA
 12194              1   89.700000   96.666667  92.433333
 12195              1   78.428571   93.285714  86.527778
 12196              1   73.833333   83.166667  78.500000
 12197              0   91.000000    0.000000  91.400000
 12198              1   94.400000   93.000000  94.166667  )

In [86]:
# Export the dataframe to a csv file
df.to_csv('../data/cleaned/DB_1er_Año_CSV_Cleaned.csv',
          index=False)